

  <html>
        <head>
        <title>Sudoku</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        </head>
        <body>
             
            <table>
                <caption>Solved Sudoku</caption>
                <colgroup><col><col><col>
                <colgroup><col><col><col>
                <colgroup><col><col><col>
                    <tbody>
                        <tr> <td> {{ list[0][0] }}<td> {{ list[0][1] }} <td>{{ list[0][2] }} <td>{{ list[0][3] }}<td> {{ list[0][4] }} <td>{{ list[0][5] }} <td>{{ list[0][6] }} <td>{{ list[0][7] }}  <td>{{ list[0][8] }}
                            <tr> <td> {{ list[1][0] }} <td>{{ list[1][1] }} <td> {{ list[1][2] }} <td>{{ list[1][3] }}  <td>{{ list[1][4] }} <td>  {{ list[1][5] }}<td> {{ list[1][6] }} <td>{{ list[1][7] }} <td>{{ list[1][8] }}
                        <tr> <td>{{ list[2][0] }} <td> {{ list[2][1] }} <td>{{ list[2][2] }}  <td> {{ list[2][3] }} <td> {{ list[2][4] }} <td>{{ list[2][5] }}  <td>{{ list[2][6] }}  <td>  {{ list[2][7] }}<td>{{ list[2][8] }}
                       <tbody>
                        <tr> <td>{{ list[3][0] }}<td> {{ list[3][1] }} <td>{{ list[3][2] }} <td> {{ list[3][3] }} <td>{{ list[3][4] }} <td> {{ list[3][5] }} <td>{{ list[3][6] }} <td> {{ list[3][7] }} <td>{{ list[3][8] }}
                        <tr> <td> {{ list[4][0] }} <td>{{ list[4][1] }}  <td> {{ list[4][2] }} <td>{{ list[4][3] }}  <td>{{ list[4][4] }}  <td>{{ list[4][5] }}  <td> {{ list[4][6] }} <td>{{ list[4][7] }}  <td>{{ list[4][8] }}
                        <tr> <td>{{ list[5][0] }}<td> {{ list[5][1] }} <td> {{ list[5][2] }} <td>{{ list[5][3] }} <td> {{ list[5][4] }} <td>{{ list[5][5] }} <td>{{ list[5][6] }}  <td>{{ list[5][7] }}  <td>{{ list[5][8] }}
                       <tbody>
                        <tr> <td>{{ list[6][0] }} <td>{{ list[6][1] }}  <td> {{ list[6][2] }} <td> {{ list[6][3] }} <td>{{ list[6][4] }} <td> {{ list[6][5] }} <td>{{ list[6][6] }}  <td>{{ list[6][7] }}  <td>{{ list[6][8] }}
                        <tr> <td> {{ list[7][0] }} <td> {{ list[7][1] }} <td>{{ list[7][2] }}  <td> {{ list[7][3] }} <td>{{ list[7][4] }} <td>  {{ list[7][5] }}<td>{{ list[7][6] }}  <td>{{ list[7][7] }}  <td>{{ list[7][8] }}
                        <tr> <td>{{ list[8][0] }} <td> {{ list[8][1] }} <td> {{ list[8][2] }} <td>{{ list[8][3] }} <td> {{ list[8][4] }} <td>{{ list[8][5] }} <td>{{ list[8][6] }}  <td>{{ list[8][7] }}  <td>{{ list[8][8] }}
                     </table>
            
        </body>
        </html>
